<form role="form" class="form-horizontal" id="addnews">
    <div class="form-group">
        <label class="col-md-2 control-label">新闻标题:</label>
        <div class="col-md-10">
        <input type="text" value=""  required="true" placeholder="新闻标题" id="title" class="form-control" name="title">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">新闻内容:</label>
        <div class="col-md-10">
            <textarea id="editor" rows="3" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
        <button class="btn btn-info" type="submit">增加</button>
        </div>
    </div>
</form>